a{
    text-decoration: none;
}
div{
    background-color:rgba(0, 0, 0, 0.654);
    width: 9vw;
    height: 4vh;
    text-align: center;
    padding-bottom: 0.2rem;    
}
.acilir-menu ul{
    display: none;
}
.acilir-menu:hover ul{
    display:block;
}
ul{
    border: 1px solid black;
    width: 9vw;
    margin-top: 0;
    padding-left: 20px;
}

a{
    color: black;
    
}
p{
    color: white;
    
}
